.create-form {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    gap: 2rem;
}

.create-form button {
    justify-self: center;
    width: 20rem;
}

.round-settings {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}