.input {
    background: transparent;
    border: 2px solid var(--color-input-border);
    padding: 0.8em;
    border-radius: 6px;
    font-size: 1.6em;
    color: var(--color-input-font);
    font-weight: 500;
}
.input:focus {
    outline: none;
    background: var(--color-input-background-focus);
}