.option-card {
    background-color: var(--color-option-card-background);
    padding: 1em 1.5em;
    border-radius: 1em;
    cursor: pointer;
    border: 0;
    width: 100%;
    text-align: left;
}

.option-card.selected {
    background-color: var(--color-option-card-background-selected);
}