.button {
    padding: 0.8em 1.6em;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    transition: box-shadow 0.2s;
    font-size: 1.6em;
    font-weight: 500;
    width: var(--local-width);
    height: 4.4rem;
}
.button:active {
    opacity: 0.85;
}
.button:global(.primary) {
    background-color: var(--color-button-primary-background);
    color: var(--color-button-primary-font);
}
.button:global(.secondary) {
    background-color: var(--color-button-secondary-background);
    color: var(--color-button-secondary-font);
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}